*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body {
	background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.form{

	width: 400px;
	background: #F2B885;
	padding: 30px;
	margin: auto;
	margin-top: 100px;
	border-radius: 1rem;
	font-family: 'calibri';
	color: white;
	box-shadow: 7px 13px 37px #000;

}
.form h3{
	font-size: 22px;
	margin-bottom: 20px;


}
.control{
	width: 100%;
	background: #F2F2F2;
	padding: 10px;
	margin-bottom: 16px;
	border-radius: 1rem;
	border: 1px solid #1f53cs;
	font-family: 'arial';
	font-size: 18px;
	
}

.form .bottom{
	width: 100%;
	background: #1f53c5;
	border: none;
	padding: 12px;
	color: white;
	margin: 16 px 0;
	font-size: 16px;
	border-radius: 7px;
}
.form p{
	height: 40px;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
}

.form a{
	color: white;
	text-decoration: none;
}
.form a:hover {
	color: white;
	text-decoration: underline;
}

