body{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 19%, rgba(253,187,45,1) 84%);
    height: 100vh;
    margin: 0rem;
    padding: 0rem;
}
#form-pedido{
    display: flex;
    justify-content: center;
}
p{
    margin: 1rem;
    padding: 1rem;
}